<clr-main-container>
    <clr-header>
        <div class="branding">
            <a href="#" class="nav-link">
                <div class="team-icon">
                    <span style="font-size: 60px;position: absolute; top: 14px;">{{ '{' }}</span>
                    <clr-icon shape="home" size="24" style="position: absolute;left: 77px;top: 20px;"></clr-icon>
                    <clr-icon shape="cloud" style="width: 128px;height: 72px;"></clr-icon>
                    <span style="font-size: 60px;position: absolute; top: 14px; left: 130px;">{{ '}' }}</span>
                </div>
                <span class="title">THEHUMBLEBRACKETS</span>
            </a>
        </div>
    </clr-header>
    <div class="content-container">
        <div class="content-area">
            <div class="card">
                <div class="card-header">
                    VMWorld 2017 Alexa App Output
                </div>
                <div class="card-block" style="min-height: 800px; overflow-y: scroll; max-height: 800px; padding-top: 20px;">
                    <app-push-message></app-push-message>
                </div>
            </div>

        </div>

    </div>
</clr-main-container>